<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MediApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegister"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Ratings"
            android:theme="@style/Theme.Design.Light.NoActionBar"  />
        <activity
            android:name=".InsuranceSignUp"
            android:theme="@style/Theme.Design.Light.NoActionBar"  />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".SupportActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".GPSignUp"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".PatientSignUp"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".PatientLogin"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".GPLogin"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Intro"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>